$S: 576px;
$M: 768px;
$L: 992px;
$X: 1200px;


//$greenColor: #348F6C;
$colorGray: #707070;
$colorGray2: #F3F3F3;
//$goldColor: #E3CA92;
// $redColor: #b1111b;

// $colorWhite: #fff;
// $MainColor: #23c7ac;
// $colorOrange: #fcc537;
/*$Gray: #85898d8c;*/
// $Gray: #c4c5c547;
// $filter: #57595b;
$ColorGold: #c9a227;
$ColorOrange: #F8B52A;
// $ColorMainDark: #9d4edd;
// $ColorMainDark: #6261af;
$ColorMainDark: #763FBE;
$ColorMainGold: #C1921F;
$ColorMainDark2: #D0BDE9;

$backgroundColor: #FFF;
$backgroundColor2: #FEFEFE;
$backgroundColorCard: #98E28C;
$backgroundColorfilters: #E5F5FC;
$backgroundPillColor: #009788;
$gradiantColor1: #009788;
$gradiantColor2: #49a49a;
$linkColor: #2EBDE6;
$shadowColor: #00000029;
$borderColor: #C7C7C7;
$dangerColor: #E21179;


$theme-colors: (
  "success": #009788,
  "royal": #763FBE,
  "oldRoyal": #D0BDE9,
  "oldSuccess": #28a745,
  "goldenroyal": #C1921F
,);
