.navbarStyle {
    min-height: 101px;
    box-shadow: 0px 1px 6px #00000029;
}

.user-logout-btn {
    background-color: transparent;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0;
    text-decoration: none;
    cursor: pointer;
  
    &:focus {
      outline: 0;
      box-shadow: 0 0 0;
      text-decoration: none;
    }
}
